---
name: Yaml Code Style
on:
  pull_request:
    branches:
      - master

jobs:
  style:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Check Codestyle
        uses: frenck/action-yamllint@v1
